'''Q1. Explain with an example each when to use a for loop and a while loop.
A for loop is a control flow statement that repeatedly executes a block of code for a fixed number of times.
A while loop, on the other hand, repeatedly executes a block of code as long as a certain condition remains true.
Here are some examples of when to use each type of loop:
    Suppose you want to print out the first 10 numbers in the Fibonacci sequence.
    You can use a for loop because you know exactly how many times you need to execute the loop.'''

In [1]:
# example of for loop
a, b = 0, 1
for i in range(10):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

'''Example of when to use a while loop:
Suppose you want to prompt a user to enter a positive integer until they actually enter a positive integer. 
You can use a while loop because you don't know how many times the loop will execute until the user enters a valid input. '''

In [2]:
num = -1
while num <= 0:
    num = int(input("Enter a positive integer: "))
print("You entered:", num)

Enter a positive integer:  4

You entered: 4

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
   and while loop.

In [3]:
#for loop
result=0
for i in range(11):
    result = result+i
print("The sum of the first 10 natural numbers is:", result)

The sum of the first 10 natural numbers is: 55

In [4]:
#while loop
num = 1
result = 0

while num <= 10:
    result += num
    num += 1

print("The sum of the first 10 natural numbers is:", result)

The sum of the first 10 natural numbers is: 55

Q3. Create a python program to compute the electricity bill for a household.The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.You are required to take the units of electricity consumed in a month from the user as input.

In [5]:
units = int(input("Enter the units: "))
total_bill = 0

if units <= 100:
    total_bill = units * 4.5
elif units <= 200:
    total_bill = (100 * 4.5) + ((units - 100) * 6)
elif units <= 300:
    total_bill = (100 * 4.5) + (100 * 6) + ((units - 200) * 10)
else:
    total_bill = (100 * 4.5) + (100 * 6) + (100 * 10) + ((units - 300) * 20)

print("Total electricity bill: Rs.", total_bill)

Enter the units:  200

Total electricity bill: Rs. 1050.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [6]:
#for loop
cubes_list = []
for i in range(1, 101):
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_list.append(cube)

print(cubes_list)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [7]:
# while loop
cubes_list = []
i=1
while i<=100:
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_list.append(cube)
    i+=1
print(cubes_list)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [8]:
vowel=['a','e','i','o','u']
string = "I want to become a data scientist"
string=string.lower()
string
count=0
for i in string:
    if i in vowel:
        count+=1
count

12